.container-logo {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  max-width: 55px;
}

.container-logo-text {
  margin-left: 15px;
}

.titulo {
  color: black;
  margin: 0;
  font-weight: 900;
  font-size: 23px;
}
.descripcion {
  color: #918981;
  font-weight: 500;
}
