.boton-back {
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --color: #ff6b35;
  margin: 5px 0;
  font-weight: 800;
  text-transform: none;
  font-size: 19px;
}
