<ion-card class="resumen-card">
  <ion-card-header>
    <ion-card-title>Resumen de actividad</ion-card-title>
  </ion-card-header>



  <ion-card-content>
    <div class="fila">
      <span>Préstamos activos</span>
      <strong>{{ prestamosActivos }}</strong>
    </div>


    <div class="fila">
      <span>Libros leídos</span>
      <strong>{{ librosLeidos }}</strong>
    </div>


    <div class="fila">
      <span>Multas pendientes</span>
      <strong>${{ multasPendientes }}</strong>
    </div>


    <div class="fila">
      <span>Miembro desde</span>
      <strong>{{ miembroDesde }}</strong>
    </div>


  </ion-card-content>
</ion-card>